<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://lh3.googleusercontent.com/gMl8NIzTsjs6n2hAbt0JfkLyytuJmRQxIgu9d6K0biD3dCXC85i794cUVAll85DcDNf03I1jOTsDkzsiBkcDgAp1_w4sIh54XGfsyv6qxscKnM0PGO1_F8VBjR5u6go37m_KyBb9GcbzDZi7Wn9FuHY3RLRK4r9zHRLrxGiu3jV0XJ_Ax9gweOu8kg2Hqq1-J_kxWzu-DtGnQnRvJydIZ1JKwLGqolLsYbEhfNoCzk3h7UZtOESaOwPFW-0fqvjFSahwMPvt5jGZfVzGG2_WDt_osZmcc90FmDjGYPg140V5JolGgyBNGKm3B_c2iYCpvoeZVc02C1TZnpU8zp8ujlIgntIqDvhujYpL4Toh_i8x5hc-eR3PHgTz_6ERXSSbjubLl48v_2fO0oiWpATOrQSQCFeEQS0IIXFyv1t2gQ4-maIpfO43MYmgr9KnnOUrZUM0-qn8VOtANwpFEahPg2fwD1WG9XjfQLWssZma7cabmJr_tmUUk8kbnpuNwi6ZRfySZEfP5CbQylBI9cjfuyvey4LGIiUpFGFA0RRC9odqLS9Di3wKt22wqIxyGqBU5WMERDSlaTOPUFR465joDhbckUtjtiJrmbTwdFU=w424-h239-no')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Grahan Village</h3>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?auto=compress&cs=tinysrgb&h=350')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Log Your Journey Here ! </h3>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/386009/pexels-photo-386009.jpeg?auto=compress&cs=tinysrgb&h=350')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Find Best Eco Friendly Travel Advice</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
