<app-carousel></app-carousel>
<div class="row" lazy-load-images>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-7">
    <div class="card">
      <h4>Grahan Village..A Hidden Gem of Himachal Pradesh</h4>
      <h6>Mar 31, 2018</h6>
      <img  style="height: 350px" data-src="../../assets/images/articles/grahan.jpg"
            alt="Generic placeholder image">
      <br>
      <p>Probably you could have heard lot of triund or triund trek or triund weather but nowdays everyone is heading towards it</p>
      <a href="articles/grahan"><h6><b>READ MORE ..</b></h6></a>
    </div>
    <div class="card">
      <h4>Masoori...Queen of Hills </h4>
      <h6>December 31, 2015</h6>
      <br>
      <img  style="height: 350px"  class="lazy" data-src="../../assets/images/articles/masoori.jpg"
            alt="Generic placeholder image">
      <br>
      <p>Probably you could have heard lot of triund or triund trek or triund weather but nowdays everyone is heading towards it</p>
      <a href="#" data-toggle="modal" data-target="#myModal"><h6><b>READ MORE ..</b></h6></a>
    </div>
  </div>
  <div class="col-sm-3">
    <app-about-us></app-about-us>
    <app-adds-and-events></app-adds-and-events>
  </div>
  <div class="col-sm-1">
  </div>

</div>
<br>
<br>
<app-footer></app-footer>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Coming Soon</h4>
        <button type="button" class="close" data-dismiss="modal">&times;              </button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
