<div class="card media border p-3 well" lazy-load-images>
  <h5>About Me</h5>
  <div class="media-body">
    <img src="{{author.profilePicUrl}}"
         alt="Ravi"  class="img-thumbnail">
  </div>
    <div class="media-body">
      <h6>{{author.name}}</h6>
      <p>{{author.briefInformation}}</p>
    </div>
</div>

<div class="card  media border p-4 well">
  <h5>Let's Connect</h5>
  <nav class="navbar-expand-sm  justify-content-center">
  <ul class="navbar-nav">
      <div class="media-body " fxLayout="row" fxLayoutAlign="space-evenly center" *ngFor="let connect of author.letsConnect" >
      <li >
        <a href="{{connect.socialMediaUrl}}"  target="_blank" rel="noopener" >
          <i class="{{socialMediaCss.getSocialMediaCss(connect.socialMedia)}}" ></i>
        </a>
      </li>
      </div>
  </ul>
  </nav>
</div>
