<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 ">
    </div>

    <div class="col-sm-8 ">
      <div class="card h-100" >
        <h4>
          Grahan .. a hidden gem of Himachal Pradesh
        </h4>
        <img style="height: 350px" src="../../assets/images/articles/grahan.jpg"
             alt="Generic placeholder image">
        <ul class="nav nav-mytabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history"
               aria-selected="false">Best time to Visit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="itenary-tab" data-toggle="tab" href="#itenary" role="tab" aria-controls="history"
               aria-selected="false">Itenary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="how-to-reach-tab" data-toggle="tab" href="#howToReachTab" role="tab"
               aria-controls="city-attractions" aria-selected="false">How To Reach</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="video-tab" data-toggle="tab" href="#videoTab" role="tab"
               aria-controls="city-attractions" aria-selected="false">Video</a>
          </li>
        </ul>
        <div class="tab-content mytab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>  <b>Grahan, Himachal Pradesh, August 13, 2015</b>--- Probably you could have heard lot of  triund trek
              but nowdays everyone is heading towards it. But there is a Hidden Gem in Kasol. Yes it is
              Grahan.Grahan Village situated at the height of 7700ft above the sea level.
              Hiking is the only option to reach Grahan Village.It has around 50 houses and around 300 people.
              The distance from kasol to grahan is around 10KM. If you are planning to go there
              then start early in morning.
            </p>
          </div>
          <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
            <blockquote>
              Best time to Visit :
              Weather of kasol is pleasant through out the year except December end.
            </blockquote>
          </div>
          <div class="tab-pane fade" id="itenary" role="tabpanel" aria-labelledby="itenary-tab">
            <blockquote>
              My itinerary was as follow :-
              <br><br>
              Day1 : Evening Bus @7:00 PM from Kashmiri Gate to Kullu.
              <br><br>
              Day 2: Get down at Bhuntar. Take Bus or Taxi from Bhuntar to Kasol. Prefer Local bus. Its fare will be just 50
              rs if you are budget traveller. Have Breakfast at kasol and start your trek as early as possible. Reached
              Grahan by 2 or 3. Guest house are easily available. Take some rest and roam in village.
              You can have your dinner at Old Kishna Gues house but Mount view owner prepared nice parantha.
              <br><br>
              Day 3 : Start around 8:30 or 9:00 AM for Waterfall. Enjoy the scenic view of majestic himalaya.
              <br><br>
              Day4 : Start early morning to kasol. Take shortest way to reach kasol. From Kasol you can go to manikaran or
              back to Bhuntar or Kullu to catch your bus.
              <br><br>
            </blockquote>
          </div>
          <div class="tab-pane fade" id="howToReachTab" role="tabpanel" aria-labelledby="how-to-reach-tab">
            <blockquote>
              Book Bus ticket  :
              <a href=" http://online.hrtchp.com/oprs-web/" target="_top"> http://online.hrtchp.com/oprs-web/</a>
              <br><br>
              I  have visited parashar lake also , i can say grahan trek is far better than the parashar lake trek.
              If someone ask what is the thing in Grahana-- I can say.. its "Piece".
            </blockquote>
          </div>
          <div class="tab-pane fade" id="videoTab" role="tabpanel" aria-labelledby="video-tab">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/GZpr2t_Y7Fk"
                      frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
      </div>
    </div>
    <div class="col-sm-2">
      <app-about-us></app-about-us>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Coming Soon</h4>
        <button type="button" class="close" data-dismiss="modal">&times;              </button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


