<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<app-carousel></app-carousel>
<app-about-us></app-about-us>

<div class="section section-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="articles">

          <div class="article">
            <a href="#">
              <img src="https://d2devwt40at1e2.cloudfront.net/api/file/tdt3s1OHRO6wfQOpmAHw" width="100%">
            </a>
            <div class="inner">
              <h3><a href="#">Article title</a></h3>
            </div>
          </div>

          <div class="article">
            <a href="#">
              <img src="https://d2devwt40at1e2.cloudfront.net/api/file/tdt3s1OHRO6wfQOpmAHw" width="100%">
            </a>
            <div class="inner">
              <h3><a href="#">Article title</a></h3>
            </div>
          </div>
          <div class="article">
            <a href="#">
              <img src="https://d2devwt40at1e2.cloudfront.net/api/file/tdt3s1OHRO6wfQOpmAHw" width="100%">
            </a>
            <div class="inner">
              <h3><a href="#">Article title</a></h3>
            </div>
          </div>
          <div class="article">
            <a href="#">
              <img src="https://d2devwt40at1e2.cloudfront.net/api/file/tdt3s1OHRO6wfQOpmAHw" width="100%">
            </a>
            <div class="inner">
              <h3><a href="#">Article title</a></h3>
            </div>
          </div>
          <div class="article">
            <a href="#">
              <img src="https://d2devwt40at1e2.cloudfront.net/api/file/tdt3s1OHRO6wfQOpmAHw" width="100%">
            </a>
            <div class="inner">
              <h3><a href="#">Article title</a></h3>
            </div>
          </div>
        </div>
        <div class="pagination-links">
          <span class="pagination-link">&larr; Newer posts</span>
          <span class="pagination-link"><a href="#">Older posts &rarr;</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
