<app-carousel></app-carousel>
<div class="row" lazy-load-images>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-7">
    <li style="list-style-type: none;" *ngFor="let article of articles" >
      <div class="card">
        <h4>{{article.title}}</h4>
        <h6>{{article.createdTime}}</h6>
        <img  style="height: 350px" data-src="{{article.articleImage}}"
              alt="Generic placeholder image">
        <br>
        <p>{{article.articleBrief}}</p>
        <a href="#" data-toggle="modal" data-target="#myModal"><h6><b>READ MORE ..</b></h6></a>
      </div>
    </li>
  </div>
  <div class="col-sm-3">
    <app-about-us></app-about-us>
    <app-adds-and-events></app-adds-and-events>
  </div>
  <div class="col-sm-1">
  </div>

</div>
<br>
<br>
<app-footer></app-footer>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Coming Soon</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
